<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xad.server.mapper.TagCatalogMapper">

    <select id="queryDemo" resultType="com.xad.server.entity.TagCatalog">
        select * from tag_catalogs
    </select>
</mapper>