<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjhcsoft.crm.xxl.base.mapper.OdsTycBaseinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zjhcsoft.crm.xxl.base.entity.OdsTycBaseinfo">
        <result column="id" property="id" />
        <result column="history_names" property="historyNames" />
        <result column="reg_status" property="regStatus" />
        <result column="cancel_date" property="cancelDate" />
        <result column="reg_capital" property="regCapital" />
        <result column="staff_num_range" property="staffNumRange" />
        <result column="industry" property="industry" />
        <result column="bond_num" property="bondNum" />
        <result column="type" property="type" />
        <result column="bond_name" property="bondName" />
        <result column="revoke_date" property="revokeDate" />
        <result column="legal_person_name" property="legalPersonName" />
        <result column="revoke_reason" property="revokeReason" />
        <result column="property3" property="property3" />
        <result column="credit_code" property="creditCode" />
        <result column="used_bond_name" property="usedBondName" />
        <result column="from_time" property="fromTime" />
        <result column="approved_time" property="approvedTime" />
        <result column="social_staff_num" property="socialStaffNum" />
        <result column="alias" property="alias" />
        <result column="company_org_type" property="companyOrgType" />
        <result column="actual_capital_currency" property="actualCapitalCurrency" />
        <result column="ent_id" property="entId" />
        <result column="org_number" property="orgNumber" />
        <result column="cancel_reason" property="cancelReason" />
        <result column="to_time" property="toTime" />
        <result column="email" property="email" />
        <result column="actual_capital" property="actualCapital" />
        <result column="estiblish_time" property="estiblishTime" />
        <result column="reg_institute" property="regInstitute" />
        <result column="tax_number" property="taxNumber" />
        <result column="business_scope" property="businessScope" />
        <result column="reg_location" property="regLocation" />
        <result column="reg_capital_currency" property="regCapitalCurrency" />
        <result column="tags" property="tags" />
        <result column="website_list" property="websiteList" />
        <result column="phone_number" property="phoneNumber" />
        <result column="name" property="name" />
        <result column="bond_type" property="bondType" />
        <result column="percentile_score" property="percentileScore" />
        <result column="status" property="status" />
        <result column="create_dt" property="createDt" />
        <result column="last_up_dt" property="lastUpDt" />
        <result column="cust_id" property="custId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, history_names, reg_status, cancel_date, reg_capital, staff_num_range, industry, bond_num, type, bond_name, revoke_date, legal_person_name, revoke_reason, property3, credit_code, used_bond_name, from_time, approved_time, social_staff_num, alias, company_org_type, actual_capital_currency, ent_id, org_number, cancel_reason, to_time, email, actual_capital, estiblish_time, reg_institute, tax_number, business_scope, reg_location, reg_capital_currency, tags, website_list, phone_number, name, bond_type, percentile_score, status, create_dt, last_up_dt, cust_id
    </sql>

</mapper>
